@model Towditor.Web.EFModel.Worlds

@{
    ViewData["Title"] = "World Index";
}

<div>
    <h4>World</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorldName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorldName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Details" asp-controller="World" asp-route-id="@Model.WorldId">Back to World Details</a>
</div>

<p>
    <a asp-action="AddToWorld" asp-route-worldid="@Model.WorldId">Add</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Terrain Name
            </th>
            <th>
                Bitmap Name
            </th>
            <th>Bitmap Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.WorldTerrains)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Terrain.TerrainName)
                </td>
                <td>
                    @item.Terrain.Bitmap.BitmapSequence.BitmapSequenceName<span>#</span>@item.Terrain.Bitmap.BitmapIndex
                </td>
                <td>
                    <img style="border:1px solid black; padding:1px;" src="@Url.Action("Render","BitmapImage",new { id=item.Terrain.Bitmap.BitmapId, scale=8 })" />
                </td>
                <td>
                    <a asp-action="RemoveFromWorld" asp-route-id="@item.WorldTerrainId">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
