@model Towditor.Web.Models.MetaModel<int, Towditor.Web.EFModel.Bitmaps>
@{
    ViewBag.Title = "Edit Bitmap";
    var pixelImages = new string[]
    {
Url.Content("~/images/White.png"),
Url.Content("~/images/DarkGray.png"),
Url.Content("~/images/LightGray.png"),
Url.Content("~/images/Black.png")
    };
}
<p><a asp-action="Details" asp-controller="BitmapSequence" asp-route-id="@Model.Payload.BitmapSequenceId">Back to Bitmap Sequence</a></p>
<p>Bitmap Sequence: @Model.Payload.BitmapSequence.BitmapSequenceName</p>
<p>Bitmap Index: @Model.Payload.BitmapIndex </p>
@for (int y = 0; y < Model.Payload.BitmapHeight; ++y)
{
    for (int x = 0; x < Model.Payload.BitmapWidth; ++x)
    {
        var bitmapPixel = Model.Payload.BitmapPixels.SingleOrDefault(gp => gp.X == x && gp.Y == y);
        <a asp-action="SetBitmapPixel" asp-route-id="@Model.Payload.BitmapId" asp-route-x="@x" asp-route-y="@y" asp-route-color="@Model.Meta"><img src="@pixelImages[bitmapPixel?.ColorId??0]" /></a>
    }
    <br />
}
<p>Current Color:</p>
@for (int color = 0; color < 4; ++color)
{
    if (color == Model.Meta)
    {
        <span>-></span>
    }
    <a asp-action="Edit" asp-route-id="@Model.Payload.BitmapId" asp-route-color="@color"><img src="@pixelImages[color]" /></a>
    if (color == Model.Meta)
    {
        <span>&lt;-</span>
    }
}
