@model WebEditor.EFModel.BitmapSequence
@{
    ViewBag.Title = "Bitmap Sequence Detail";
}
<p>@Html.ActionLink("Back to Bitmap Sequence List","Index")</p>
<p>Bitmap Sequence: @Model.BitmapSequenceName</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Bitmap Index</th>
            <th>Width x Height</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bitmaps)
        {
        <tr>
            <td>
                @item.BitmapIndex
            </td>
            <td>
                @item.BitmapWidth
                x
                @item.BitmapHeight
                <a href="@Url.Action("EditBitmap", new { id=item.BitmapId })">(edit)</a>
            </td>
            <td>
                <a href="@Url.Action("EditBitmapImage", new { id=item.BitmapId })"><img src="@Url.Action("BitmapImage",new { id=item.BitmapId, scale=8 })" /></a>
            </td>
        </tr>
        }
    </tbody>
</table>
