@model WebEditor.EFModel.Bitmap
@{
    ViewBag.Title = "Edit Bitmap";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.BitmapId)
    <div class="form-group">
        @Html.Label("Bitmap Sequence Name:")
        @Model.BitmapSequence.BitmapSequenceName
    </div>
    <div class="form-group">
        @Html.Label("Bitmap Index:")
        @Model.BitmapIndex
    </div>
    <div class="form-group">
    @Html.LabelFor(m => m.BitmapWidth)
    @Html.TextBoxFor(m => m.BitmapWidth)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.BitmapHeight)
        @Html.TextBoxFor(m => m.BitmapHeight)
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
}
