@model IEnumerable<Towditor.Web.EFModel.Bitmaps>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BitmapWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BitmapHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BitmapIndex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BitmapSequence)
            </th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BitmapWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BitmapHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BitmapIndex)
            </td>
            <td>
                <a asp-controller="BitmapSequence" asp-action="Details" asp-route-id="@item.BitmapSequenceId">
                    @Html.DisplayFor(modelItem => item.BitmapSequence.BitmapSequenceName)
                </a>
            </td>
            <td>
                <a asp-controller="BitmapImage" asp-action="Edit" asp-route-id="@item.BitmapId">
                    <img src="@Url.Action("Render","BitmapImage",new { id=item.BitmapId, scale=8 })" />
                </a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BitmapId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BitmapId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BitmapId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
