@model IEnumerable<Towditor.Web.EFModel.BitmapSequences>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">(Create New)</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BitmapSequenceName)
            </th>
            <th>Number of Bitmaps</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BitmapSequenceName)
            </td>
            <td>
                @item.Bitmaps.Count()
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BitmapSequenceId">(Edit)</a>
                <a asp-action="Details" asp-route-id="@item.BitmapSequenceId">(Details)</a>
                @if (!item.Bitmaps.Any())
                {
                  <a asp-action="Delete" asp-route-id="@item.BitmapSequenceId">(Delete)</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
