@model IEnumerable<WebEditor.EFModel.World>
@{
    ViewBag.Title = "World List";
}
<p>@Html.ActionLink("(create world)","Add")</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>World Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.WorldName
                    <a href="@Url.Action("Detail", new { id=item.WorldId })">(view)</a>
                    <a href="@Url.Action("Edit", new { id=item.WorldId })">(edit)</a>
                    <a href="@Url.Action("Export", new { id=item.WorldId })">(export)</a>
                </td>
            </tr>
        }
    </tbody>
</table>
