@model Towditor.Web.Models.MetaModel<Towditor.Web.EFModel.Terrains, Towditor.Web.EFModel.Rooms>

@{
    ViewData["Title"] = "Details";
}
<div>
    @{
        int columns = Model.Payload.Tiles.Max(x => x.X) + 1;
        int rows = Model.Payload.Tiles.Max(x => x.Y) + 1;
        for (int row = 0; row < rows; ++row)
        {
            for (int column = 0; column < columns; ++column)
            {
                var tile = Model.Payload.Tiles.Single(x => x.X == column && x.Y == row);

    <a asp-action="PlaceTerrain" asp-route-id="@tile.TileId" asp-route-terrainid="@Model.Meta.TerrainId">
        <img style="border:1px solid black; padding: 1px;" src="@Url.Action("Render","BitmapImage",new { id=tile.Terrain.BitmapId, scale=8 })" />
    </a>
            }
            <br />
        }
    }
</div>
<div>
    Current Terrain:
    @Model.Meta.TerrainName
    <img style="border:1px solid black; padding: 1px;" src="@Url.Action("Render","BitmapImage",new { id=Model.Meta.BitmapId, scale=4 })" />
    <a asp-action="SelectTerrain" asp-route-id="@Model.Payload.RoomId">(change)</a>
</div>
<div>
    <h4>Rooms</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Payload.RoomName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Payload.RoomName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Payload.World)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Payload.World.WorldName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Payload.RoomId">Edit</a> |
    <a asp-action="Duplicate" asp-route-id="@Model.Payload.RoomId">Duplicate</a> |
    <a asp-action="Details" asp-controller="World" asp-route-id="@Model.Payload.WorldId">Back to World</a>
</div>
