@model Towditor.Web.EFModel.Rooms

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rooms</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoomName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.World)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.World.WorldName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RoomId">Edit</a> |
    <a asp-action="Details" asp-controller="World" asp-route-id="@Model.WorldId">Back to World</a>
</div>
