@model IEnumerable<Towditor.Web.EFModel.Fonts>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FontName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FontHeight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FontName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FontHeight)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FontId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FontId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FontId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
