@model Towditor.Web.EFModel.Glyphs

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Glyphs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GlyphCharacter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GlyphCharacter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GlyphWidth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GlyphWidth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Font)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Font.FontName)
        </dd>
        <dt>
            Glyph Image
        </dt>
        <dd>
            <a asp-controller="GlyphImage" asp-action="Edit" asp-route-id="@Model.GlyphId">
                <img src="@Url.Action("Render","GlyphImage",new { id=Model.GlyphId, scale=16 })" />
            </a>
        </dd>
    </dl>
</div>
<div>
    @if (ViewData.ContainsKey("ParentId"))
    {
        <a asp-action="Edit" asp-route-id="@Model.GlyphId" asp-route-parentid="@ViewData["ParentId"]">(edit)</a>
        <a asp-action="Details" asp-controller="Font" asp-route-id="@ViewData["ParentId"]">(font)</a>
    }
    else
    {
        <a asp-action="Edit" asp-route-id="@Model.GlyphId">(edit)</a>
        <a asp-action="Index">(list)</a>
    }
</div>
