@model WebEditor.EFModel.Font
@{
    ViewBag.Title = "Font Detail";
}
<p>@Html.ActionLink("Back to Font List","Index")</p>
<p>Font: @Model.FontName</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Glyph Character</th>
            <th>Glyph Width</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Glyphs)
        {
            <tr>
                <td>
                    @item.GlyphCharacter
                    <a href="@Url.Action("EditGlyph", new { id=item.GlyphId })">(edit)</a>
                </td>
                <td>
                    @item.GlyphWidth
                </td>
                <td>
                    <img src="@Url.Action("GlyphImage",new { id=item.GlyphId, scale=8 })" />
                </td>
            </tr>
        }
    </tbody>
</table>
