@model WebEditor.EFModel.Font
@{
    ViewBag.Title = "Edit Font";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.FontId)
    <div class="form-group">
    @Html.LabelFor(m => m.FontName)
    @Html.TextBoxFor(m => m.FontName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FontHeight)
        @Html.TextBoxFor(m => m.FontHeight, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
}
