@model WebEditor.EFModel.Glyph
@{
    ViewBag.Title = "Edit Font";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.GlyphId)
    <div class="form-group">
        @Html.Label("Font Name:")
        @Model.Font.FontName
    </div>
    <div class="form-group">
    @Html.Label("Glyph Character:")
    @Model.GlyphCharacter
    </div>
    <div class="form-group">
        @Html.LabelFor(m=>m.GlyphWidth)
        @Html.TextBoxFor(m=>m.GlyphWidth)
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
}
