@model Towditor.Web.EFModel.WorldCreatures

@{
    ViewData["Title"] = "Delete";
}

<h2>Remove from World</h2>

<h3>Are you sure you want to remove this?</h3>
<div>
    <h4>WorldCreatures</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Creature)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Creature.CreatureName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.World)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.World.WorldName)
        </dd>
    </dl>
    
    <form asp-action="RemoveFromWorld">
        <input type="hidden" asp-for="WorldCreatureId" />
        <input type="submit" value="Remove" class="btn btn-default" /> |
        <a asp-action="WorldIndex" asp-route-worldid="@Model.WorldId">Back to World</a>
    </form>
</div>
