@model Towditor.Web.EFModel.Glyphs
@{
    ViewBag.Title = "Edit Glyph";
}
<p><a asp-controller="Font" asp-action="Details" asp-route-id="@Model.FontId">Back to Font</a></p>
<p>Font: @Model.Font.FontName</p>
<p>Glyph Character: @Model.GlyphCharacter</p>
@for (int y = 0; y < Model.Font.FontHeight; ++y)
{
    for (int x = 0; x < Model.GlyphWidth; ++x)
    {
        var glyphPixel = Model.GlyphPixels.SingleOrDefault(gp => gp.X == x && gp.Y == y);
        if (glyphPixel != null)
        {
            <a asp-action="RemoveGlyphPixel" asp-route-id="@glyphPixel.GlyphPixelId"><img src="~/images/Black.png" /></a>
        }
        else
        {
            <a asp-action="AddGlyphPixel" asp-route-glyphid="@Model.GlyphId" asp-route-x="@x" asp-route-y="@y"><img src="~/images/White.png" /></a>
        }
    }
    <br />
}
